<div class="media-object <%= 'large-image' if media_object.large_image.to_bool %>">

  <div>
    <div class="<%= 'image-container' if media_object.image_path.present? %>">
      <%= ix_image_tag(
        media_object.image_path(:original),
        auto: 'format,compress',
        fit: 'crop',
        class: 'img-fluid',
        h: 1500
      ) if media_object.image_path.present? %>
    </div>
    
    <h3 class="title"><%= media_object.title %></h3>

    <div class="desc">
      <%= markdown media_object.body.html_safe %>
    </div>
  </div>

  <% if media_object.link.present? %>
    <div class="link">
      <%= link_to 'Learn More', media_object.link, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>