<div class="media-object <%= 'small-img' if media_object.small_image.to_bool %>">

  <% if media_object.header_above_image.to_bool %>
    <h3 class="title"><%= media_object.title %></h3>
  <% end %>

  <div class="media-content">
    <div class="media-img">
      <%= ix_image_tag(
        media_object.image_path(:original),
        auto: 'format,compress',
        fit: 'crop',
        class: 'img-fluid',
        h: 300,
        w: 400
      ) if media_object.image_path.present? %>
    </div>
    <div class="media-text">
      <% unless media_object.header_above_image.to_bool %>
        <h3 class="title"><%= media_object.title %></h3>
      <% end %>
      <div class="desc">
        <%= markdown media_object.body.html_safe %>
      </div>
    </div>
  </div>

  <% if media_object.link.present? %>
    <div class="link">
      <%= link_to 'Learn More', media_object.link, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>