<%# ---
name: Homepage
fields: {}
regions:
  - main
features:
  - content_block
  - header
  - image
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<div class="lead text-center">
  <%= markdown current_object.body %>
</div>

<!--<div class="feature-group images">
  <div class="image w1 h1">
    <div class="image-content"></div>
    <%# <% img_url = '//kitchen1883-development.imgix.net/ample_admin/attachments/files/000/000/002/original/open-uri20170830-888-1gvva7o' %>
    <%# <%= ix_image_tag(img_url, class: 'img-fluid', auto: 'format,compress', fit: 'crop', h: 500, w: 500) %>
  </div>
  <div class="image w1 h2">
    <div class="image-content"></div>
    <%# <% img_url = '//kitchen1883-development.imgix.net/ample_admin/attachments/files/000/000/002/original/open-uri20170830-888-1gvva7o' %>
    <%# <%= ix_image_tag(img_url, class: 'img-fluid', auto: 'format,compress', fit: 'crop', h: 984, w: 500) %>
  </div>
  <div class="image w2 h1">
    <div class="image-content"></div>
    <%# <% img_url = '//kitchen1883-development.imgix.net/ample_admin/attachments/files/000/000/002/original/open-uri20170830-888-1gvva7o' %>
    <%# <%= ix_image_tag(img_url, class: 'img-fluid', auto: 'format,compress', fit: 'crop', h: 500, w: 984) %>
  </div>
  <div class="image w1 h1">
    <div class="image-content"></div>
    <%# <% img_url = '//kitchen1883-development.imgix.net/ample_admin/attachments/files/000/000/002/original/open-uri20170830-888-1gvva7o' %>
    <%# <%= ix_image_tag(img_url, class: 'img-fluid', auto: 'format,compress', fit: 'crop', h: 500, w: 500) %>
  </div>
  <div class="image w1 h1">
    <div class="image-content"></div>
    <%# <% img_url = '//kitchen1883-development.imgix.net/ample_admin/attachments/files/000/000/002/original/open-uri20170830-888-1gvva7o' %>
    <%# <%= ix_image_tag(img_url, class: 'img-fluid', auto: 'format,compress', fit: 'crop', h: 500, w: 500) %>
  </div>
  <div class="image w1 h1">
    <div class="image-content"></div>
    <%# <% img_url = '//kitchen1883-development.imgix.net/ample_admin/attachments/files/000/000/002/original/open-uri20170830-888-1gvva7o' %>
    <%# <%= ix_image_tag(img_url, class: 'img-fluid', auto: 'format,compress', fit: 'crop', h: 500, w: 500) %>
  </div>
</div>-->

<%= render_grouped_features %>
