<%# ---
name: Location
fields:
  latitude: string
  longitude: string
regions:
  - main
features:
  - content_block
  - header
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<div class="row justify-content-between">
  <%= render_grouped_features %>
  <div id="map" class="col-sm-8" data-lat="<%= current_object.blocks.dig(:latitude) %>" data-lng="<%= current_object.blocks.dig(:longitude) %>">
  </div>
</div>

<script>
  var initMap = function() {
    var container = $('#map').first(),
        latlng = { lat: container.data('lat'), lng: container.data('lng') };

    var map = new google.maps.Map(container[0], {
      zoom: 13,
      center: latlng
    });

    var marker = new google.maps.Marker({
      position: latlng,
      icon: '<%= image_url('map-marker.svg') %>',
      map: map
    });
  }
</script>

<% content_for :footer do %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API"] %>&callback=initMap"></script>
<% end %>
