<%# ---
name: Location
fields:
  latitude: string
  longitude: string
regions:
  - main
features:
  - content_block
  - header
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<div class="row justify-content-between">
  <%= render_grouped_features %>
  <div id="map" class="col-sm-8" data-lat="<%= current_object.blocks.dig(:latitude) %>" data-lng="<%= current_object.blocks.dig(:longitude) %>">
  </div>
</div>

<% content_for :footer do %>
  <script>
    MAP_ICON_URL = '<%= image_url('map-marker.svg') %>';
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_KEY"] %>&callback=Kitchen.Map.init"></script>
<% end %>
