<%# ---
name: Menu
fields: {}
regions:
  - main
features:
  - header
  - menu_item
  - content_block
--- %>

<% content_for :jumbotron do %>
  <%= render partial: 'public/partials/jumbotron', locals: { obj: current_parent } %>
<% end %>

<div class="container text-center">
  <div class="btn-group" role="group">
    <% current_subnav.each do |child| %>
      <a href="<%= child.hierarchy_permalink %>" class="btn btn-primary <%= 'active' if @current_permalinks.last == child.permalink %>">
        <%= (child.nav_name.present? ? child.nav_name : child.title) %>
      </a>
    <% end %>
  </div>
</div>

<h2 class="content-heading">
  <%= current_object.title %>
</h2>

<div>
  <%= render_grouped_features %>
</div>

<% if features_by_type.collect { |f| f[:blocks].try(:[], :veggie).to_bool }.present? %>
  <div class="icon-group">
    <%= icon 'veggie', color: 'yellow' %>
    <span>Vegan</span>
  </div>
<% end %>

<% if features_by_type.collect { |f| f[:blocks].try(:[], :gluten_free).to_bool }.present? %>
  <div class="icon-group">
    <%= icon 'gluten-free' %>
    <span>Gluten Free</span>
  </div
<% end %>
