<!DOCTYPE html>
<html>
  <head>
    <title>Kitchen1883Com</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://use.typekit.net/gmn4gir.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body class="template-<%= template_filename %>">

    <%= render partial: 'public/menus/header_menu', collection: global_nav %>

    <%= yield(:jumbotron) if content_for?(:jumbotron) %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render partial: 'public/menus/menu', collection: global_nav, locals: { klasses: 'nav navbar-nav navbar-right' } %>
    <%= render partial: 'public/partials/social', collection: current_social_accounts %>
  </body>
</html>
