<!DOCTYPE html>
<html>
  <head>
    <title>Kitchen1883Com</title>
    <%= csrf_meta_tags %>

    <% if Rails.env.staging? || Rails.env.production? %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MCTJ2JL');</script>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <script src="https://use.typekit.net/tmk7dfe.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <% cache_if cacheable?, [:body, current_publish, request.path] do %>
    <body class="template-<%= template_filename %>">

      <% if Rails.env.staging? || Rails.env.production? %>
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCTJ2JL"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <% end %>

      <%= render 'public/partials/header' %>

      <%= yield(:jumbotron) if content_for?(:jumbotron) %>

      <div class="container">
        <%= yield %>
        <p>&nbsp;</p>
      </div>

      <%= render 'public/partials/footer' %>

      <%= yield(:footer) if content_for?(:footer) %>

    </body>
  <% end %>
</html>
