<!DOCTYPE html>
<html>
  <head>
    <title>Kitchen1883Com</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://use.typekit.net/gmn4gir.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <% cache_if cacheable?, [:body, current_publish, request.path] do %>
    <body class="template-<%= template_filename %>">

      <%= render 'public/partials/header' %>

      <%= yield(:jumbotron) if content_for?(:jumbotron) %>

      <div class="container">
        <%= yield %>
        <p>&nbsp;</p>
      </div>

      <%= render 'public/partials/footer' %>

    </body>
  <% end %>
</html>
